<div class="wrapper">
  <div class="container">
    <button class="close-button" (click)="closeModalEvent.emit()">
      <img src="/assets/images/close.png" />
    </button>
    <div>
      <label for="name">Name</label>
      <input id="name" placeholder="Elon Musk" #nameInput/>
    </div>
    <div>
      <label for="summary">Summary</label>
      <input id="summary" placeholder="Richest Man" #summaryInput/>
    </div>
    <div>
      <label for="description">Description</label>
      <textarea id="description" placeholder="Loves cars" #descriptionInput></textarea>
    </div>
    <button class="create" (click)="createBot()">Create</button>
  </div>
</div>