<div class="main">
  <div class="top">
    <app-bot-small *ngIf="currBot" [bot]="currBot"></app-bot-small>
  </div>
  <app-messages ngClass="messages" *ngIf="this.currBot" [bot]="this.currBot"></app-messages>
  <div class="input-container">
    <input type="text" placeholder="Type message..." #messageInput />
    <div class="image-wrapper" (click)="sendMessage()" >
      <img src="/assets/images/paper.png" />
    </div>
  </div>
</div>
<div class="bot-big-wrapper">
  <app-bot-big *ngIf="currBot" [bot]="currBot"></app-bot-big>
</div>