<div class="main">
  <div class="top">
    <div (click)="toggleMobileMenu()" class="mobile-menu-button">
      <img src="/assets/images/menu.png" />
    </div>
    <app-bot-small *ngIf="currBot" [bot]="currBot"></app-bot-small>
  </div>
  <app-messages ngClass="messages" *ngIf="this.currBot" [bot]="this.currBot"></app-messages>
  <div *ngIf="!waiting" class="input-container">
    <input (keydown.enter)="handleEnterKey()" type="text" placeholder="Type message..." #messageInput />
    <div class="image-wrapper" (click)="sendMessage()" >
      <img src="/assets/images/paper.png" />
    </div>
  </div>
  <div *ngIf="waiting" class="waiting-container">
    <app-loading-dots></app-loading-dots>
  </div>
</div>
<div class="bot-big-wrapper">
  <app-bot-big *ngIf="currBot" [bot]="currBot"></app-bot-big>
</div>
<div class="mobile-navigation-wrapper" [class.shown]="mobileNavigationShown">
  <div class="mobile-navigation">
    <app-navigation (closeMobileMenuEvent)="toggleMobileMenu()"></app-navigation>
  </div>
</div>