<div class="main">
  <div class="top">
    <div (click)="toggleMobileMenu()" class="mobile-menu-button">
      <img src="/assets/images/menu.png" />
    </div>
    <app-bot-small *ngIf="currBot" [bot]="currBot"></app-bot-small>
  </div>
  <app-messages ngClass="messages" [waiting]="waiting" *ngIf="this.currBot" [bot]="this.currBot"></app-messages>
  <div class="input-container">
    <input (keydown.enter)="handleEnterKey()" type="text" placeholder="Type message..." #messageInput />
    <div class="image-wrapper" (click)="sendMessage()" [class.transparent]="waiting">
      <img src="/assets/images/paper.png" />
    </div>
  </div>
</div>
<div class="bot-big-wrapper">
  <app-bot-big *ngIf="currBot" [bot]="currBot"></app-bot-big>
</div>
<div class="mobile-navigation" [class.shown]="mobileNavigationShown">
  <app-navigation (closeMobileMenuEvent)="toggleMobileMenu()"></app-navigation>
</div>