@import '/src/consts.less';

:host {
  background-color: @background-secondary;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 @padding-md;
  height: 70px;
  border-bottom: solid @border-color-primary 2px;
}

.number-bots {
  padding: @padding-xs @padding-md;
  background-color: @color-primary;
  border-radius: @padding-md;
}

.links {
  display: flex;
  flex-direction: column;
  gap: @padding-sm;
  padding: @padding-md;
  margin-top: @padding-2xl;
}

.links > a {
  color: inherit;
  text-decoration: inherit;
  padding: @padding-xs;
  border-radius: @padding-xs;
}

.links > a.selected {
  background-color: @color-primary;
}

h1 {
  .text-xl();
}

.close-mobile-menu {
  cursor: pointer;
}

.close-mobile-menu > img {
  width: 30px;
  height: 30px;
  pointer-events: none;
  user-select: none;
}

.close-mobile-menu,
.mobile-menu-button
{
  display: none;
}

@media screen and (max-width: 600px) {
  .close-mobile-menu,
  .mobile-menu-button
  {
    display: block;
  }

  .number-bots {
    display: none;
  }
}