<div class="wrapper">
  <img src="/assets/images/bot-1.jpg" class="image" />
  <h2>Bot name</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, quod. Itaque et porro sapiente magni illum aliquam illo? Molestias eos numquam dolores dignissimos repudiandae tenetur repellendus maxime, modi voluptates molestiae corporis. Sapiente, nobis. Architecto et veniam voluptatem maxime officia dolorem nobis totam nemo laudantium delectus molestiae exercitationem amet, esse est.</p>
</div>